.sidebar-left {
    background: #333;
}
.sidebar-left .sidebar-header .sidebar-toggle {
	right: unset;
	background-color: unset;
}
html.no-overflowscrolling .sidebar-left .nano {
    background: #333;
}
@media only screen and (min-width: 768px) {
    html.fixed .page-header {
        left: 152px;
    }
    html.fixed .content-body {
        margin-left: 152px;
    }    
}
.page-header {
    background: #03aeef;
    border-bottom: none;
    border-left: 1px solid #03aeef;
}
html .card-easymeter .card-header {
    background: #03aeef;
    border-color: #03aeef;
}
html .card-easymeter .card-actions a, 
html .card-easymeter .card-title {
    color: #FFF;
    font-weight: 500;
}
table thead th {
    font-weight: 600;
}
.card-footer .dataTables_paginate {
    float: right;
}

.badge-agua {
    background: #007bff;
    color: #FFF;
}
.badge-gas {
    background: #ed9c28;
    color: #FFF;
}
.card-actions.buttons {
    top: 10px;
}
.card-actions.buttons .btn-primary {
    background-color: #0088cc;
    border-color: #0088cc #0088cc #006699;
    color: #ffffff;
}
.card-body-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
}
.card-previsao .card-body {
    background-color: #03aeef;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 375px;
    width: 100%;
}
.chart-container canvas {
    width: 100% !important;
    max-height: 100%;
    min-height: unset;
}


html .wizard-progress .wizard-steps li a {
    cursor: default;
}


html .wizard-progress .wizard-steps li a, html.dark .wizard-progress .wizard-steps li a {
    position: relative;
    display: block;
    padding: 25px 8px 0;
    font-size: 11px;
    color: #33333F;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}
.table-hover.table-click tbody tr {
    cursor: pointer;
}
.unread {
    background-color: #ebebeb !important;
    font-weight: bold !important;
}
.nav-link.configs.left {
    border-radius: 0.375rem 0 0 0.375rem !important;
}
.nav-link.configs.right {
    border-radius: 0 0.375rem 0.375rem 0 !important;
}
.nav-link.configs {
    border-radius: 0;
}
button.nav-link.configs {
    color: white;
    background-color: #0088CC;
}
.nav-pills-primary > li .nav-link.active.configs {
    color: #FFF;
    background-color: #006ba1;
}
.color-energy.active {
    background: #ed9c28 !important;
    color: #FFF !important;
}
.color-energy:hover {
    background: #ed9c28 !important;
    color: #FFF !important;
}
.color-agua.active {
    background: #007bff !important;
    color: #FFF !important;
}
.color-agua:hover {
    background: #007bff !important;
    color: #FFF !important;
}
.tab-content.card-body {
    background-color: #fdfdfd;
    padding: 15px;
}
.fa-right-from-bracket:before, .fa-sign-out-alt:before {
    content: "\f2f5";
}
.nav-link.configs.disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: .65;
}
.tab-content.configs {
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
}
.form-group.row {
    padding-bottom: 15px;
}